@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

body{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--main-bg);
    font-size: 18px;
}

#container {
    width: 370px;
    height: 650px;
    border-radius: 20px;
    margin: 50px auto;
    background-color: var(--card-bg);
    padding: 10px;    
}

#equilibrium {
    position: relative;
    left: -30px; 
    width: 350px;  
    border-radius: 15px;
    border-top-left-radius: 15px;
   
   
    
}

#item{
    color: var(--white);
    font-size: 22px;
}

#text {
    color: var(--soft-blue);
}
#wrapper {
    width: 330px;
    margin-left: 15px;  
}

#left {
    float: left;
    color: var(--cyan);
    
}
span {
    position: relative;
    top: -2px;
}

#right {
    float: right;
    color: var(--soft-blue);

}

.clear {
    width: 330px;
    margin: 0 auto;
    clear: both;
    border-bottom: 1px solid var(--line);
    
    
}

#avatar {
    position: relative;
    left: -20px;
    float: left;
    width: 40px;
    border: 1px solid var(--white);
    border-radius: 50%;
}

#bottom-text {
    color: var(--soft-blue);
    position: relative;
    top: 10px;
}

#creator {
    color: var(--white);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--white);
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}